<html lang="en" class="full-height">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Response</title>
    <script type="module" src="{{toolkitUri}}"></script>
    {{#each scriptUris}}
      <script type="module" src="{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" href="{{codiconsUri}}" />
    <link rel="stylesheet" href="{{globalStyleUri}}" />
    {{#each styleUris}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
  </head>
  <body class="full-height pt-1">
    <div class="flex-column full-height">
      <div class="flex-row flex-justify-end flex-align-center flex-gap-1">
        <div id="request-status" class="flex-grow"></div>
        <vscode-button
          id="reset-request"
          appearance="secondary"
        >Reset</vscode-button>
        <vscode-button
          id="abort-request"
          appearance="secondary"
        >Abort</vscode-button>
        <vscode-button
          id="send-request"
          appearance="primary"
        >Send</vscode-button>
      </div>
      <div class="flex-row flex-gap-1 pt-1">
        <div id="request-method"></div>
        <div id="request-url" class="text-field flex-grow"></div>
      </div>
      <div class="flex-grow">
        <vscode-panels id="panels" class="full-height" aria-label="Default">
          <vscode-panel-tab id="tab-1">RESPONSE</vscode-panel-tab>
          <vscode-panel-tab id="tab-2">BODY</vscode-panel-tab>
          <vscode-panel-tab id="tab-3">PARAMS</vscode-panel-tab>
          <vscode-panel-tab id="tab-4">HEADERS</vscode-panel-tab>
          <vscode-panel-view
            class="text-area-container full-height"
            id="view-1"
          >
            <pre id="request-response" class="text-area text-field"></pre>
          </vscode-panel-view>
          <vscode-panel-view
            class="text-area-container full-height"
            id="view-2"
          >
            <pre
              id="request-body"
              contenteditable="true"
              class="text-area text-field"
            ></pre>
          </vscode-panel-view>
          <vscode-panel-view class="panel-view" id="view-3">
            <div
              class="flex-column flex-grow object-editor"
              id="request-params"
            >
            </div>
          </vscode-panel-view>
          <vscode-panel-view class="panel-view" id="view-3">
            <div
              class="flex-column flex-grow object-editor"
              id="request-headers"
            >
            </div>
          </vscode-panel-view>
        </vscode-panels>
      </div>
    </div>
  </body>
</html>